*{
    margin: 0;padding: 0;box-sizing: border-box;
}


/* --------------animation 1 start------------- */
.pain{margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.pain > .z1 > h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
    font-size: 50px;
    color: darkorchid;
    text-transform: uppercase; 

    animation: animate 1s linear infinite;
}


@keyframes animate {

    0%{color:darkslategrey;}
    50%{color: lightcyan; -webkit-text-stroke:2px darkred;}
    100%{color: darksalmon;}

    
}
/* --------------animation 1 end------------- */



/* --------------animation 2 start------------- */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.child1{
    
    margin-top: 50px;
     /* width: 100px;
    height: 80px; */

}


/* .child2{
    font-size: 18px;
    color: cornsilk;
    margin: 0 auto;
    text-decoration: underline;
    border: 4px dotted black;
    margin-top: 20px;
    width: 200px;
    height: 100px;
    animation: sir 3s infinite linear;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes sir{
    0%   {background: chocolate; }
    50%   {background: cornflowerblue;font-size: 35px; border-radius: 50%;}
    100%  {background: chocolate ;}
} */
/* --------------animation 2 end------------- */




/* --------------animation 3 start------------- */
.earth{
    width: 100%;
    height: 100vh;
    display: flex;
}

.box{
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: chocolate;
    position: relative;
    border-radius: 50%;
    background-image: url(../img/earth.jpg);
    background-size: cover;
}

.moon{
    position: absolute;
    background-color: darkslategrey;
    border-radius: 50%;
    animation: moon 5s infinite linear;
    background-image: url(../img/moon.jpg);
    background-size: cover;
    
}

@keyframes moon {
    /* 0%{top: -50px;left: -50px;}
    25% {top: -50px;left: 350px;}
    50% {top: 350px;left: 350px;} 
    75%{top: 350px;left: -50px;}
    100%{top: -50px;left: -50px;} */

    0%{top: 350px;left: -50px;width: 100px;height: 100px;}
    50%{top: -50px;left: 350px;width: 160px;height: 160px;}
    100%{top: 350px;left: -50px;width: 100px;height: 100px;}
}
/* --------------animation 3 end------------- */


/* --------------animation 4 start------------- */

.bg{
    width: 100%;
    height: 480px;
    background-image: url(../img/carbg.jpg);
    object-fit: fit;
    position: relative;
}

.car_image{
    height: 300px;
    width: 200px;
    background-color: rgba(167, 167, 167, 0);
    position: absolute;
    background-image: url(../img/car.png); 
    top: 250px;
    left: 10px;
    background-size: 100% 100%;
    animation: car 6s linear infinite;
}
@keyframes car {
    0%{top:250px;left:0%;}
    50%{top:250px;left:50%;}
    100%{top:250px;left:100%;}
    
}

/* --------------animation 4 end------------- */
.hellbg{
    width: 100%;
    height: 300px;
    background-color: white;
    /* object-fit: fit; */
    position: relative;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.helltext{
    animation: helltext 1s linear infinite;
}
@keyframes helltext {
    0%{color: yellowgreen;}
    50%{color: teal;text-decoration: underline;}
    100%{color: yellowgreen;}
    
}

.helicopter{
    height: 200px;
    width: 200px;
    background-color: rgba(167, 167, 167, 0);
    position: absolute;
    background-image: url(../img/helicopter.gif); 
    top: 150px;
    right: 10px;
    background-size: 100% 100%;
    animation: helicopter 6s linear infinite;
}
@keyframes helicopter {
    0%{top:200px;right:0%;}
    10%{top:100px;right:10%;}
    20%{top:200px;right:20%;}
    30%{top:100px;right:30%;}
    40%{top:200px;right:40%;}
    50%{top:100px;right:50%;}
    60%{top:200px;right:60%;}
    70%{top:100px;right:70%;}
    80%{top:200px;right:80%;}
    90%{top:100px;right:90%;}
    100%{top:200px;right:100%;}
    
}


/* --------------animation 5 start------------- */
.shape{
    width: 100%;
    height: 300px;
    background-color: white;
    /* object-fit: fit; */
    position: relative;
    margin-bottom: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

}


.shape_various{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    position: absolute;
    /* background-image: url(./);  */
    top: 150px;
    right: 10px;
    background-size: 100% 100%;
    animation: shapes 8s linear infinite;
}
@keyframes shapes {
    0%{top:200px;right:0%;clip-path: polygon(50% 0%, 0% 100%, 100% 100%);background-color: lightcoral;}

    10%{top:100px;right:10%;clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);background-color: lightgreen;}

    20%{top:200px;right:20%;clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);background-color: lightslategray;}

    30%{top:100px;right:30%;clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);background-color: teal;}

    40%{top:200px;right:40%;clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);background-color: violet;}

    50%{top:100px;right:50%;clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);background-color: yellow;}

    60%{top:200px;right:60%;clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);background-color: turquoise;}

    70%{top:100px;right:70%;clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);background-color: khaki;}

    80%{top:200px;right:80%;clip-path: ellipse(25% 40% at 50% 50%);background-color: springgreen;}

    90%{top:100px;right:90%;clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);background-color: brown;}

    100%{top:200px;right:100%;clip-path: circle(50% at 50% 50%);background-color: burlywood;}
    
}


.shape_text{
    animation: shapetext 0.5s linear infinite;
    font-size: 40px;
    align-items: center;
}
@keyframes shapetext {
    0%{color: burlywood;text-transform: uppercase;}
    50%{color: teal;}
    100%{color: lightpink;text-transform: uppercase;}
    
}

/* --------------animation 5 end------------- */


/* --------------animation 7 start------------- */
.bee_main{
    width: 100%;
    height: 300px;
    background-color: white;
    /* object-fit: fit; */
    position: relative;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Comic Neue', cursive;
    color: gold;
    font-size: 45px;

    


}


.hive{
    height: 200px;
    width: 200px;
    background-color: rgba(167, 167, 167, 0);
    position: absolute;
    background-image: url(../img/hive.gif); 
    top: 50px;
    left: 0;
    background-size: 100% 100%;
    
}

.bee{
    height: 100px;
    width: 100px;
    background-image: url(../img/bee.png);
    position: absolute;
    top: 100px;
    left: 50px;
    background-size: 100% 100%;

    animation: bee 6s linear infinite;
}

@keyframes bee {
    0%{top:100px;left: 50px;}
    /* 10%{top:100px;right:10%;}
    20%{top:200px;right:20%;}
    30%{top:100px;right:30%;}
    40%{top:200px;right:40%;} */
    50%{top:100px;left: 50%;}
    /* 60%{top:200px;right:60%;}
    70%{top:100px;right:70%;}
    80%{top:200px;right:80%;}
    90%{top:100px;right:90%;} */
    100%{top:100px;left: 100%;}
    
}
/* --------------animation 7 end------------- */


/* --------------animation 8 start------------- */

.daffbg{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

}

.daffodil{
    animation: daffodil 2s linear infinite;

}
@keyframes daffodil{
    0%{transform:scale(0.5);}
    50%{transform:scale(0.3);}
    100%{transform:scale(0.5);}
}


/* --------------animation 8 start------------- */


/* --------------animation 9 start------------- */
.wb2{
    font-size: 20px;
    color: grey;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 20px;
    
    animation: wb2 2s linear infinite;
}
@keyframes wb2{
    0%{text-decoration: underline;}
    50%{text-decoration: none;}
    100%{text-decoration: underline;}
}

.wb{
    width: 100%;
    /* height: 500px; */
    display: flex;
    position: relative;
    
    /* margin-bottom: 50px; */
}

.wb_parent{
    width: 100%;
    height: 50px;
    /* margin: auto; */
    position: absolute;
    
    animation: wb 4s linear infinite;
}
@keyframes wb{
    0%{top: 0px; background-color: rgba(240, 230, 140, 0.568);}
    20%{top: 50px; background-color: rgba(144, 238, 144, 0.534);}
    40%{top: 100px; background-color: rgba(255, 182, 193, 0.555);}
    60%{top: 150px; background-color: rgba(135, 206, 250, 0.534);}
    80%{top: 200px; background-color: rgba(240, 230, 140, 0.541);}
    100%{top: 250px; background-color: rgba(144, 238, 144, 0.548);visibility: hidden;}
    
    
}

/* --------------animation 9 end------------- */




/* --------------animation thnx start------------- */
.smain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
}

.shadow_text{
   
    font-size: 50px;
    animation:shadow_text 1s linear infinite;
}
@keyframes shadow_text{
    0%{color: blueviolet; text-shadow: 2px 2px 4px brown;}
    50%{color: khaki; text-shadow: 4px 2px 2px darkslateblue;}
    100%{color: teal; text-shadow: 2px 4px 2px deeppink;}

}


/* --------------animation thnx end------------- */




/* --------------animation 10 start------------- */
.ball_main{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;

}

.ball{
    width: 100%;
    height: 100%;
    /* background-image: url(../img/night.jpg); */
    background-size: 100%;
    margin-bottom: 20px;
    
    position: relative;    
}

.player{
    height: 200px;
    width: 200px;
    background-color: rgba(167, 167, 167, 0);
    position: absolute;
    background-image: url(../img/alien.gif); 
    top: 10px;
    right: 0;
    background-size: 100% 100%;
    position: absolute;
   
    

    animation: player 5s linear infinite;
}
@keyframes player{
    0%{transform: scale(0.3);}
    /* 10%{top:80px; left:10%;transform: rotate(20deg);}
    20%{top:180px; left:20%;transform: rotate(30deg);}
    30%{top:150px; left:30%;transform: rotate(40deg);}
    40%{top:80px; left:40%;transform: rotate(50deg);} */
    50%{transform: scale(0.6);}
    /* 60%{top:200px; left:60%;transform: rotate(70deg);}
    70%{top:170px; left:70%;transform: rotate(80deg);}
    80%{top:230px; left:80%;transform: rotate(90deg);}
    90%{top:220px; left:90%;transform: rotate(100deg);} */
    100%{transform: scale(0.9);visibility: hidden;}

} 


.r1{
    width:100% ;
    height: 500px;
    animation:ball 4s linear infinite;
    position: absolute;

    top:100px; left:0;
}
@keyframes ball{
    0%{top:100px; left:0;}
    10%{top:60px; left:10%;transform:scale(0.5);}
    20%{top:200px; left:20%;}
    30%{top:150px; left:30%;}
    40%{top:80px; left:40%;transform:scale(1);}
    50%{top:310px; left:50%;}
    60%{top:90px; left:60%;}
    70%{top:170px; left:70%;}
    80%{top:230px; left:80%;transform:scale(0.5);}
    90%{top:250px; left:90%;transform:scale(0.3);}
    100%{top:150px; left:100%;transform:scale(0.1);}
    
    
}
/* --------------animation 10 end------------- */



/* --------------animation 11 start------------- */
.button_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
display: flex;
align-items: center;
justify-content: center;
    position: relative;
}
.fire{width: 720px;
    height: 150px;
    background-image: url(../img/fire.gif);
    background-size: auto 100%;

    background-repeat: repeat;

    position: absolute;

}


.btn-group{
   position: absolute;
}

.btn-group button {
    background-color:rgb(2,0,36);
    background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(116,48,147,1) 33%, rgba(0,212,255,1) 100%);; /* Green background */
    border: 1px solid lightpink; /* Green border */
    font-size: 15px;
    color: white; /* White text */
    padding: 20px 40px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; 
    border-radius: 5%;

    animation: btn 1s linear infinite;
  }
  .btn-group button:hover {
    background: linear-gradient(45deg, rgba(255,25,25,1) 0%, rgba(204,138,52,1) 54%, rgba(247,157,10,1) 100%);
  }
  
  @keyframes btn{
      0%{border-radius: 12%;}
      50%{border-radius: 6%;}
      100%{border-radius: 10%;}
  }

  /* --------------animation 11 end------------- */


  /* --------------animation bangladesh start------------- */


  

/* --------------animation 3 start------------- */
.bangladesh{
    width: 100%;
    height: 100vh;
    display: flex;
}

.bangla{
    width: 400px;
    height: 400px;
    margin: auto;
    /* background-color: chocolate; */
    position: relative;
    border: 2px solid black;
    
}

.vasha{
    width: 100px;
    height: 100px;
    position: absolute;
    /* background-color: darkslategrey; */
    background-size: cover;

    animation:bangla 6s linear infinite;
}
@keyframes bangla{
    0%{top:-50px;left:-50px;background-image: url(../img/electricity.png);background-size: 100% 100%;}
    25%{top:-50px;left:350px;background-image: url(../img/electricity.png);background-image: url(../img/electricity.png);background-size: 100% 100%;}
    50%{top:350px;left:350px;background-image: url(../img/electricity.png);background-size: 100% 100%;transform: rotate(90deg);}
    75%{top:350px;left:-50px;background-image: url(../img/electricity.png);background-size: 100% 100%;transform: scale(1.5);}
    100%{top:-50px;left:-50px;background-image: url(../img/electricity.png);background-size: 100% 100%;transform: rotate(90deg);}

}


  /* --------------animation bangladesh end------------- */








  
/* --------------animation 3 start------------- */
.bangladesh2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bangla2{
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: green;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.vasha2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: red;
    background-size: cover;
    border-radius: 50%;
      
}

.vasha3{
    width: 100px;
    height: 100px;
    position: absolute;
    

    animation: bangla2 4s linear infinite;  
}
@keyframes bangla2{
    0%{top:-50px;left:-50px;background-image: url(../img/bangladesh.png);background-size:100% 100%;}
    25%{top:-50px;left:550px;background-image: url(../img/bangladesh.png);background-size:100% 100%;}
    50%{top:350px;left:550px;background-image: url(../img/bangladesh.png);background-size:100% 100%;}
    75%{top:350px;left:-50px;background-image: url(../img/bangladesh.png);background-size:100% 100%;}
    100%{top:-50px;left:-50px;background-image: url(../img/bangladesh.png);background-size:100% 100%;}

}


  /* --------------animation bangladesh2 end------------- */



 /* --------------animation tv start------------- */  
 .tv_main{
     width: 100%;
     height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }

 .tv{
     width: 700px;
     height: 500px;
     background-color: rgba(116,48,147,1);
    
     animation: tv 12s linear infinite;

 }

 @keyframes tv {
    0%{background-image: url(../img/t1.jpg);background-size:100% 100%;}
    20%{background-image: url(../img/t2.jpg);background-size:100% 100%;}
    40%{background-image: url(../img/t3.jpg);background-size:100% 100%;}
    60%{background-image: url(../img/t4.png);background-size:100% 100%;}
    80%{background-image: url(../img/t5.png);background-size:100% 100%;}
    100%{background-image: url(../img/t6.jpg);background-size:100% 100%;}
 }